<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2026. Oleksandr Dykyi (https://github.com/odykyi-dev)
  ~
  ~ MIT License
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="esb_connector_send_new_order_observer"
                  instance="Odykyi\EsbConnector\Observer\SendOrderToEsbObserver"/>
    </event>
</config>
